*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: SFProDisply-Regular, Helvetica, Arial, sans-serif;
    background-color: #f0f2f5;
}
.container{
    position: absolute;
    top: 30%;
    left: 14%;
    font-size: 30px;
}
h1{
    font-size: 58px;
    color: #1877f2;
  
}
.container p{
margin-top: 2%;
margin-left: -6px;
font-size: 28px;
}
.br{
    width: 390px;
    height: 350px;
    position: absolute;
    top: 20%;
    left: 56%;
    background-color:white;
    border-radius: 8px;
    box-sizing:  10px blue;

}

header{
  
    position: absolute;
    top: 22%;
    left: 57%;
    
}
.box{
    background-color:white;
    
    
}
.box input{
    margin: 10px;
    width: 120%;
    height: 50px;
   margin-top: 1px;
   margin-left: 2px;
   padding: 13px 18px;
   background-color: white;
   border-radius: 8px;
   border: 2px solid #f0f2f5;
   
   
   
}
.link button{
    margin-top: 8px;
    background-color: #1877f2;
padding: 16px;
width: 120%;
border-radius: 8px;
color: white;
margin-left: 1%;
border: 2px solid #f0f2f5;

    }
    
    
    


.link{
    background-color: white;
    
    
    

}
.link2 p{
    background-color: white;
    color: #1877f2;
    margin-left: 100px;
    margin-top: 20px;
    font-size: 15px;
}

   .link2 button{
       background-color:#5AAF16;
       font-size: 18px;
       width: 210px;
       height: 50px;
       margin-top: 30px;
       border-radius: 8px;
       margin-left: 90px;
       border: white;
   }

    

